@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        BeFit to prosta aplikacja do śledzenia treningów i monitorowania progresu.
        Dodawaj swoje ćwiczenia, zapisuj sesje i obserwuj, jak rośnie Twoja siła z tygodnia na tydzień.
        Aplikacja powstała w celu nauczania korzystania z ASP.NET Core
        Learn about it <a href="https://learn.microsoft.com/aspnet/core">.
</div>